<!DOCTYPE html>
<html lang="en">
  <%-include("templates/head",{})%>
  <body>
    <div>
      <h1>Productos</h1>
      <a href="http://localhost:8080/">Cargar mas productos</a>
    </div>
    <% if(data.lenght > 1){ %>
    <h2>hola</h2>
    <% }else {%>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Productos</th>
            <th scope="col">Price</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(pr){ %>
          <tr>
            <td><%=pr.title%></td>
            <td><%=pr.price%></td>
            <td><img class="image" src="<%" ="pr.thumbnail%" /></td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
    <% } %>
  </body>
</html>
